.carrinho-info {
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-top: 160px;
    background-color: #C3C3C3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.info-container {
    font-family: 'Times New Roman', serif;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.info-column {
    font-family: 'Times New Roman', serif;
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background: #c3c3c3;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-height: 200px; /* Adiciona uma altura mínima */
}

.info-column.large {
    flex: none;
    width: 675px;
    min-height: 300px; /* Ajusta a altura mínima conforme necessário */
}

.info-column h2 {
    font-family: 'Times New Roman', serif;
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333;
}

.info-column h3 {
    font-family: 'Times New Roman', serif;
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333;
}

.info-column p {
    font-family: 'Times New Roman', serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333;
}

.info-column button {
    font-family: 'Times New Roman', serif;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #143e7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    width: 100%;
}

.info-column button:hover {
    background-color: #0e2d52;
}

.carrinho-info input, .carrinho-info button {
    padding: 10px;
    margin: 10px -4px;
    border: 2px solid #999999;
    border-radius: 4px;
    display: block;
    width: 95%;
    background-color: #999999;
}

.carrinho-info button {
    padding: 7px 0px;
    background-color: #143e7a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    font-size: 20px;
    width: 45%;
}

.carrinho-info button:hover {
    background-color: #0e2d52;
}

.carrinho-info input:focus {
    border-color: #999999;
    outline: none;
}

.carrinho-info input::placeholder {
    font-family: 'Times New Roman', serif;
    color: #b7b7b7;
    opacity: 1;
}

.titulo-detalhes {
    margin-top: 50px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 11px;
    font-family: 'Times New Roman', serif;
}
