/* CarrinhoInfo.css */

.carrinho-info {
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.info-container {
    font-family: 'Times New Roman', serif;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.info-column {
    font-family: 'Times New Roman', serif;
    flex: 1; /* Faz cada coluna crescer igualmente */
    padding: 20px; /* Adiciona um espaço interno para cada coluna */
    margin: 0 10px; /* Espaço entre as colunas */
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Mantém a sombra ao redor das colunas */
    min-width: 0; /* Previne que a coluna cresça além do flex container */
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 48%;
}

.info-column h2 {
    font-family: 'Times New Roman', serif;
    overflow: visible; /* Permite que o texto seja exibido completamente */
    white-space: normal; /* Permite que o texto use mais de uma linha se necessário */
    text-overflow: clip; /* Remove as reticências e mostra todo o texto */
    width: 100%; /* Define a largura máxima */
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333;
}

.info-column h1 {
    font-family: 'Times New Roman', serif;
    white-space: nowrap; /* Previne quebra de linha nos parágrafos */
    overflow: hidden; /* Oculta qualquer texto que exceda o espaço disponível */
    text-overflow: ellipsis; /* Adiciona reticências se necessário */
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #666;
}


button {
    font-family: 'Times New Roman', serif;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #0080ff; /* Um azul mais vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tamanho maior para o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0080ff; /* Escurece o botão quando o mouse passa por cima */
}

.carrinho-info input, .carrinho-info button {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: block;
    width: 95%;
}

.carrinho-info button {
    background-color: #0080ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 5px; /* Aumenta o padding para um botão maior */
    margin: 5px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: block;
    width: 100%; /* Ajusta a largura do botão */
    font-size: 20px; /* Aumenta o tamanho da fonte */
}

.carrinho-info button:hover {
    background-color: #1d1db7;
}

.carrinho-info input:focus {
    border-color: #2222bb;
    outline: none;
}

.carrinho-info input::placeholder {
    color: #a2abba; /* Altere para a cor desejada */
    opacity: 1; /* Garante que a cor do placeholder não seja transparente */
}



