body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px 0;
  background-color: rgb(77, 77, 91); /* Transparência leve para ser sutil */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #373743;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Garante que a App preencha pelo menos a altura completa da viewport */
  padding-bottom: 70px; /* Ajuste conforme a altura do seu footer */
  position: relative; /* Necessário para posicionar corretamente dentro do fluxo da página */
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left; /* Ajusta o espaçamento entre os itens */
  width: 50%; /* Ocupa a largura total */
}

.App-header h1 {
  font-size: 24px; /* Reduz o tamanho da fonte se necessário */
  white-space: normal; /* Permite que o título envolva para a próxima linha */
  text-align: center; /* Centraliza o texto */
  margin: -40px 0; /* Adiciona uma pequena margem acima e abaixo para visualização */
  padding: 0 20px; /* Aumenta o padding para não cortar as bordas do texto */
}

.professor-name {
  color: white; /* ou qualquer cor que se ajuste ao seu design */
  margin-right: -1200px; /* Ajuste conforme necessário */
  font-size: 18px; /* Ajuste conforme necessário */
  font-family: 'Times New Roman', serif;
  padding: 0 20px;
}

h1 {
  font-family: 'Times New Roman', serif;
  margin-top: 20px; /* Ajuste este valor conforme necessário para subir o título */
  /*background: linear-gradient(to right, #007f00, #007f00 25%, #000080 75%); /* Cores verde e azul */
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px; /* Aumenta o tamanho do texto para melhor visualização */
  color: transparent;
}

.footer {
  font-family: 'Times New Roman', serif;
  width: 100%;
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  background-color: rgb(77, 77, 91);
  font-size: 14px;
  color: #c5cbd2;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Muda para layout de coluna */
  align-items: flex-start; /* Alinha itens ao início da coluna */
  width: 100%;
}

.footer-title {
  margin-bottom: 5px; /* Ajuste conforme necessário para mover mais para cima */
}

.columns {
  display: flex;
  justify-content: flex-start; /* Alinha as colunas ao início */
  gap: 50px; /* Aumenta ou diminui o espaço entre as colunas conforme necessário */
}

.columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.columns li {
  margin: 5px 0; /* Espaçamento vertical entre os itens */
}