body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #373743;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Ajusta o espaçamento entre os itens */
  width: 20%; /* Ocupa a largura total */
}

.App-header h1 {
  font-size: 24px; /* Reduz o tamanho da fonte se necessário */
  white-space: normal; /* Permite que o título envolva para a próxima linha */
  text-align: center; /* Centraliza o texto */
  margin: 10px 0; /* Adiciona uma pequena margem acima e abaixo para visualização */
  padding: 0 20px; /* Aumenta o padding para não cortar as bordas do texto */
}

h1 {
  font-family: 'Times New Roman', serif;
  margin-top: 20px; /* Ajuste este valor conforme necessário para subir o título */
  /*background: linear-gradient(to right, #007f00, #007f00 25%, #000080 75%); /* Cores verde e azul */
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px; /* Aumenta o tamanho do texto para melhor visualização */
  color: transparent;
}

.footer {
  font-family: 'Times New Roman', serif;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05); /* Transparência leve para ser sutil */
  font-size: 14px;
  color: #c5cbd2;
  position: fixed;
  bottom: 0;
}